@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

html,
body {
  height: 100%; }

.gmap {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  width: 100%;
  height: 100%; }

.menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #999;
  border-radius: 5px;
  width: 5em;
  height: 48px;
  background-color: #fff;
  transition: left .3s ease-out;
  font-size: 18px;
  letter-spacing: .03em;
  font-family: Helvetica, "helvetica Neue", YuGothic, "游ゴシック体", sans-serif;
  cursor: pointer; }
  .menu-btn:after {
    content: "open"; }

[data-active="true"] ~ .menu-btn {
  left: 250px; }
  [data-active="true"] ~ .menu-btn:after {
    content: "close"; }

.sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 240px;
      -ms-flex-preferred-size: 240px;
          flex-basis: 240px;
  width: 240px;
  height: 100%;
  overflow: auto;
  background-color: #fff; }
  .sidebar[data-active="true"] {
    display: block;
    -webkit-animation: slide-in .3s ease-out 0s 1 forwards;
            animation: slide-in .3s ease-out 0s 1 forwards; }
  .sidebar[data-active="false"] {
    display: block;
    -webkit-animation: slide-out .3s ease-out 0s 1 forwards;
            animation: slide-out .3s ease-out 0s 1 forwards; }

.sidear__logo {
  position: relative;
  display: block;
  margin: 10px 0;
  font-size: 24px;
  letter-spacing: .03em;
  text-decoration: none;
  color: #333; }
  .sidear__logo img {
    display: block;
    max-width: 100%; }
  .sidear__logo span {
    display: none; }

.sidebar__outline {
  display: block;
  margin: 20px 0;
  padding: 20px .5em;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999; }

.sidebar__label {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 10px;
  border: 1px solid #999;
  cursor: pointer; }

.sidebar__radio-container {
  margin: 40px 0;
  padding: 0 40px; }

.sidebar__radio-box + .sidebar__radio-box > .sidebar__label {
  margin-top: 40px; }

.sidebar__label-img {
  display: block;
  max-width: 100%; }

.sidebar__radio {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden; }

.sidebar__radio:checked + .sidebar__label {
  border: 1px solid red;
  cursor: default; }

.wrapper {
  font-family: Helvetica, "helvetica Neue", YuGothic, "游ゴシック体", sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 16px;
  line-height: 1.5;
  height: 100%; }
