.sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  flex-basis: 240px;
  width: 240px;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  &[data-active="true"] {
    display: block;
    animation: slide-in .3s ease-out 0s 1 forwards;
  }
  &[data-active="false"] {
    display: block;
    animation: slide-out .3s ease-out 0s 1 forwards;
  }
}

.sidebar__inner {
}

.sidear__logo {
  position: relative;
  display: block;
  margin: 10px 0;
  font-size: 24px;
  letter-spacing: .03em;
  text-decoration: none;
  color: #333;
  img {
    display: block;
    max-width: 100%;
  }
  span { display: none; }
}


.sidebar__outline {
  display: block;
  margin: 20px 0;
  padding: 20px .5em;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.sidebar__radio {

}

.sidebar__label {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 10px;
  border: 1px solid #999;
  cursor: pointer;
}

.sidebar__radio-container {
  margin: 40px 0;
  padding: 0 40px;
}

.sidebar__radio-box + .sidebar__radio-box > .sidebar__label {
  margin-top: 40px;
}

.sidebar__label-img {
  display: block;
  max-width: 100%;
}

.sidebar__radio {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.sidebar__radio:checked + .sidebar__label {
  border: 1px solid red;
  cursor: default;
}
