.wrapper {
    font-family: Helvetica, "helvetica Neue", YuGothic, "游ゴシック体", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}